@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Space+Grotesk:wght@500;700&family=JetBrains+Mono&display=swap');
@import 'prismjs/themes/prism-tomorrow.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Force scrollbar to be always visible */
html {
  overflow-y: scroll;
}

/* Base typography styles */
body {
  font-family: 'Inter', sans-serif;
}

code {
  font-family: 'JetBrains Mono', monospace;
  font-size: 0.9em;
}

/* Heading styles */
h1, h2, h3, h4, h5, h6 {
  font-family: 'Space Grotesk', sans-serif;
}

.active {
  @apply text-blue-500;
}